snippet fp "Printf"
	fmt.Printf("${1}: %v\n", $1)

snippet fl "Println"
	fmt.Println("${1}")

snippet f- "Print dash"
	fmt.Println("----------------------")

snippet lp "Printf"
	log.Printf("${1}: %v\n", $1)

snippet ll "Println"
	log.Println("${1}")

snippet l- "Print dash"
	log.Println("----------------------")

snippet ifenil "If error"
	if err != nil {
		${1}
	}
