snippet cll "print with variable"
	print('${1}:', $1)

snippet cl "print"
	print('${1}')

snippet cl- "log separator"
	print('----------------------')

snippet cllt "log table"
	print('${1}:', vim.inspect($1))
