snippet rh "initialize typescript-react"
	import React from 'react';

	const ${1:`!v vim_snippets#Filename('$1', 'title')`} = () => {
		return (
			<div>Happy coding, Puje</div>
		);
	}

	export default ${1:`!v vim_snippets#Filename('$1', 'title')`};
